<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>パスワード変更</h2>
      <%= form_with model: @customer, url: update_customer_password_path, method: :patch, local: true do |f| %>
        <%= render "customers/shared/error_messages", resource: resource %>
        <br>
        <!--現在のパスワード入力-->
        <div class="field">
          <%= f.label :current_password, "現在のパスワード" %><br />
          <%= f.password_field :current_password, autocomplete: "current-password" %><br />
        </div>
        <br />
        <!--新しいパスワード入力-->
        <div class="field">
          <%= f.label :password, "新しいパスワード" %><br />
          <%= f.password_field :password, autocomplete: "new-password" %><br />
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> characters minimum</em><br />
          <% end %>
        </div>
        <br />
        <!--確認パスワード入力-->
        <div class="field">
          <%= f.label :password_confirmation, "新しいパスワード(確認)" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %><br />
        </div>
        <br />
        <div class="actions">
          <%= f.submit "パスワード変更", class:"btn btn-success" %><br />
        </div>
      <% end %>
      <br />
      <%= link_to "マイページに戻る", customers_path %>
    </div>
  </div>
</div>