<h2>ジャンル編集</h2>
<%= form_with model: @category, url:admins_category_path(@category), local:true do |f| %>
  <div class="form-group">
    <%= f.label "ジャンル" %>
    <%= f.text_field :name, placeholder: "プリン" %>
    <%= f.radio_button :name, "TRUE" %>有効
    <%= f.radio_button :name, "FALSE" %>無効
    <%= f.submit "追加", class: 'btn btn-success' %>
  </div>
<% end %>
