<div class="container">
  <h4 style="margin: 50px;">ジャンル編集</h4>
  <div class="row m-5">
    <%= form_with model: @category, url:admins_category_path(@category), local:true do |f| %>
      <div class="form-group">
        <%= f.label "ジャンル" %>
        <%= f.text_field :name, placeholder: "プリン" %>
        <%= f.radio_button :is_active, :true %>
        <%= f.label :is_active, "有効",style: 'margin-right: 10px' %>
        <%= f.radio_button :is_active, :false %>
        <%= f.label :is_active, "無効",style: 'margin-right: 10px' %>
        <%= f.submit "変更を保存する", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>