<div class="container">
  <div class="row">
    <h2><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h2>
  </div>
  <div class="row">
      
    <%= form_with model:@customer,local:true,url: admins_customer_path(@customer) do |f| %>
     <table class="table table-borderless ">
      <tr>
        <th>会員ID</th>
        <!--退会フラグを右側につける-->
        <th><%= @customer.id %></th>
      </tr>
      <tr>
        <th>氏名</th>
        <th><%= f.text_field :last_name %>  <%= f.text_field :first_name %></th>
      </tr>
      <tr>
        <th>フリガナ</th>
        <th><%= f.text_field :last_name_kana %>  <%= f.text_field :first_name_kana %></th>
      </tr>
      <tr>
        <th>郵便番号</th>
        <th><%= f.text_field :postal_code %></th>
      </tr>
      <tr>
        <th>住所</th>
        <th><%= f.text_field :address %></th>
      </tr>
      <tr>
        <th>電話番号</th>
        <th><%= f.text_field :telephone_number %></th>
      </tr>
    </table>
     

      <div class="actions row">
        <%= f.submit class: 'btn btn-primary col-xs-12'%>
      </div>
    <% end %>
  </div>
</div>