<div class="container">
  <div class="row">
    <h2><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h2>
  </div>
  <div class="row">
      
    <%= form_with model:@customer,local:true,url: admins_customer_path(@customer) do |f| %>
      <div class="field row">
        <p>会員ID</p>
        <%= @customer.id %>
      </div>

      <div class="field row">
        <p>氏名</p>
        <%= f.text_field :last_name %><%= f.text_field :first_name %>
      </div>

      <div class="field row">
        <p>フリガナ</p>
        <%= f.text_field :last_name_kana %><%= f.text_field :first_name_kana %>
      </div>
      <div class="field row">
        <p>郵便番号</p>
        <%= f.text_field :postal_code %>
      </div>
      <div class="field row">
        <p>住所</p>
        <%= f.text_field :address %>
      </div>
      <div class="field row">
        <p>電話番号</p>
        <%= f.text_field :telephone_number %>
      </div>

      <div class="actions row">
        <%= f.submit class: 'btn btn-primary col-xs-12'%>
      </div>
    <% end %>
  </div>
</div>