<div class="container">
  <h5>注文情報確認</h5>
  <div class="row">
    <table class="products_confirm table table-striped table-hover mx-auto col-6">
      <thead>
        <tr>
          <td>商品名</td>
          <td>単価(税込)</td>
          <td>数量</td>
          <td>小計</td>
        </tr>
      </thead>
      <tbody>
        <% sum = 0 %>
        <% @cart_products.each do |cart_product| %>
          <tr>
            <td><%= cart_product.product.name %></td>
            <td><%= cart_product.product.price %></td>
            <td><%= cart_product.amount %></td>
            <td><%= cart_product.amount * cart_product.product.price %></td>
          </tr>
          <% sum += cart_product.product.price * cart_product.amount %>
        <% end %>
        <!--カート内容-->
      </tbody>
    </table>

    <table class="payment table mx-auto col-2">
      <tr><th>送料</th><td><%= @order.delivery_price%></td></tr>
      <tr><th>商品合計</th><td><%= sum %></td></tr>
      <tr><th>請求金額</th><td><%= @orders.charge %></td></tr>
    </table>
  </div>
  <div clas="row">
    <h5>支払方法</h5>
    <% if params[:order][:payment_method] == "credit" %>
      <%= "クレジットカード" %>
    <% elsif params[:order][:payment_method] == "bank" %>
      <%= "銀行振込" %>
    <% end %>
    <h5>お届け先</h5>

    <div class = "derivery_address" >
      <%= @order.postal_code %>
      <%= @order.address %>
      <%= @order.name %>
    </div>
    <div class = "hidden_field">
      <%= form_with model:[@order, @order_product], method: :post, url: orders_path, local: true do |f| %>
        <%= form.hidden_field :payment_method %>
        <%= form.hidden_field :postal_code %>
        <%= form.hidden_field :address %>
        <%= form.hidden_field :name %>
        <%= form.submit '送信する' %>
      <% end %>
    </div>

  </div>