
<h4>注文情報入力</h4>

<%= form_with(model: @order, url: orders_confirm_path, method: :post, local: true) do |f| %>
  <!--支払方法選択-->
  <%= f.label :payment_method, "支払い方法" %>
  <br>
  <%= f.radio_button :payment_method, "クレジットカード", checked: true %>
  <%= f.label :payment_method, "クレジットカード" %>
  <br>
  <%= f.radio_button :payment_method, "銀行振込" %>
  <%= f.label :payment_method, "銀行振込" %>
  <br>

  <!--お届け先選択-->
  <%= f.label :address_form, "お届け先" %>
  <br>
  <%= f.radio_button "address_form", 0, :checked => true %>
  <%= f.label :order_address, "ご自身の住所" %><br>
  <%= @customer.customer_address_set %><br>
  <%= @customer.customer_full_name %><br>

  <%= f.radio_button "address_form", 1 %>
  <%= f.label :order_address, "登録済住所から選択" %><br>
  <%= f.select :order_address, @addresses.map{|o| [o.address_set, o.id]}, :include_blank => "住所を選択してください" %><br>

  <%= f.radio_button "address_form", 2 %>
  <%= f.label :order_address, "新しいお届け先" %><br>
    <%= f.label :postal_code, "郵便番号(ハイフンなし)"%>
    <%= text_field_tag :postal_code %><br>
    <%= f.label :address, "住所"%>
    <%= text_field_tag :address %><br>
    <%= f.label :name, "宛名"%>
    <%= text_field_tag :name %><br>
  <%= f.submit "確認画面へ進む" , class:"btn btn-primary" %>
<% end %>