<div class="container">
  <div class="row mt-5 ml-5 mb-3">
    <h4 class="order-input-head">注文情報入力</h4>
  </div>
  <div class="row">
    <%= form_with(model: @order, url: orders_confirm_path, method: :post, local: true) do |f| %>
      <!--支払方法選択-->
      <div class="order-pay-method">
        <div class="order-content-head">
          <%= f.label :payment_method, "支払い方法" %>
        </div>
        <div class="ml-5">
          <%= f.radio_button :payment_method, :credit, checked: true %>
          <%= f.label :payment_method, "クレジットカード" %>
          <br>
          <%= f.radio_button :payment_method, :bank %>
          <%= f.label :payment_method, "銀行振込" %>
        </div>
      </div>
      <!--お届け先選択-->
      <div class="address-choose">
        <div class="order-content-head">
          <%= f.label :address_form, "お届け先" %>
        </div>
        <div class="ml-5">
          <%= f.radio_button "address_form", 0, :checked => true %>
          <%= f.label :order_address, "ご自身の住所" %><br>
          <div class="ml-4"><%= @customer.customer_address_set %></div>
          <div class="ml-4 mb-3"><%= @customer.customer_full_name %></div>
          <%= f.radio_button "address_form", 1 %>
          <%= f.label :order_address, "登録済住所から選択" %>
          <div class="ml-4 mb-3">
            <%= f.select :order_address, @addresses.map{|o| [o.address_set, o.id]}, :include_blank => "住所を選択してください", class: "ml-5" %><br>
          </div>
          <%= f.radio_button "address_form", 2 %>
          <%= f.label :order_address, "新しいお届け先" %>
          <table class="ml-4 mb-5">
            <tr>
              <th class="address-form-width"><%= f.label :postal_code, "郵便番号(ハイフンなし)"%></th>
              <th><%= text_field_tag 'address[postal_code]' %></th>
            </tr>
            <tr>
              <th><%= f.label :address, "住所"%></th>
              <th style="width: 250px"><%= text_field_tag 'address[address]' %></th>
            </tr>
            <tr>
              <th><%= f.label :name, "宛名"%></th>
              <th><%= text_field_tag 'address[name]' %></th>
            </tr>
          </table>
        </div>
        <div class="text-center mb-5">
          <%= f.submit "確認画面へ進む" , class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>