<h3>配送先編集</h3>
<div class="create-address">
  <%= form_with model:@address, local:true do |f| %>
  <%= render "layouts/error_messages", model: f.object %>
    <%= f.label :postal_code, "郵便番号(ハイフンなし)"%>
    <%= f.text_field :postal_code %><br>
    <%= f.label :address, "住所"%>
    <%= f.text_field :address %><br>
    <%= f.label :name, "宛名"%>
    <%= f.text_field :name %>
    <button type="submit" class="btn btn-primary">編集する</button>
  <% end %>
</div>