<div class="container">
  <div class="row" style="margin-top: 60px;" >
    <div class="col-4">
      <h4 class="edit_title">商品編集</h4>
      <%= form_with model: @product, url: admins_product_path(@product), local: true do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group">
        <%= f.attachment_field :image %>
      </div>
    </div>

    <div class="col-6" style="margin-top: 60px;">
      <div class="form-group text_top_bottom">
        <span class="f_positioning item_top">商品名</span>
        <span class="text_field_slide"><%= f.text_area :name %></span>
      </div>
      <div class="form-group text_top_bottom">
        <span class="f_positioning">商品説明</span>
        <%= f.text_field :introduction %>
      </div>
      <div class="form-group text_top_bottom">
        <span class="f_positioning">ジャンル</span>
        <%= f.collection_select(:category_id, Category.all, :id, :name) %>
      </div>
      <div class="form-group text_top_bottom">
        <span class="f_positioning">税抜価格</span>
        <%= f.text_field :price %>円
      </div>
      <div class="form-group text_top_bottom">
        <span class="f_positioning">販売ステータス</span>
        <%= f.select :is_active, [['販売中',true],['売り切れ',false]] %>
      </div>
    </div>

    <div class="col-2 btn_edit">
      <div class="form-group">
        <%= f.submit "変更を保存", class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
<% end %>

