<div class="container">
  <h2>商品一覧</h2>
  <div>
    <%= link_to "新規追加",new_admins_product_path %>
  </div>
  <div class="row">
      
      
      <div>
        <table class='table col-'>
          <thead>
            <tr>
              <th>商品ID</th>
              <th>商品名</th>
              <th>税抜価格</th>
              <th>ジャンル</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |product| %>
              <tr>
                <td><%= product.id %></td>
                <td><%= link_to product.name, admins_product_path(product) %></td>
                <td><%= product.price %></td>
                <td><%= product.category.name %></td>
                <td>販売中or販売停止中記載予定</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
