<div class="container boeder">
  <h2>商品新規登録</h2>
  <div class="row">
    <%= form_with model: @product ,url: admins_products_path, local: true do |f| %>
      <div>
        <%= f.attachment_field :image %>
      </div>
      <div>
        <table class="table table-borderless">
          <tr class="form-group">
            <th><%= f.label "商品名" %></th>
            <th><%= f.text_field :name, class: "form-control" %></th>
          </tr>
          <tr class="form-group">
            <th><%= f.label "商品説明" %></th>
            <th><%= f.text_area :introduction, class: "form-control" %></th>
          </tr>
          <tr class="form-group">
            <th><%= f.label "ジャンル" %></th>
            <th class="form-control"><%= f.collection_select(:category_id, Category.all, :id, :name) %></th>
          </tr>
          <tr class="form-group">
            <th><%= f.label "税抜価格" %></th>
            <th><%= f.text_field :price, class: "form-control" %></th>
          </tr>
          <tr class="form-group">
          　<th><%= f.label "販売ステータス" %></th>
            <th><%= f.select :is_active, [['販売中',true],['売り切れ',false]],include_blank: "--選択して下さい--", class: "form-control" %></th>
          </tr>
        </table>
      </div>
      <div class="form-group">
        <%= f.submit "新規登録", class: 'btn btn-danger' %>
      </div>
    <% end %>
  </div>
</div>
