<div class="container">
  <h2>商品詳細</h2>
  
  <%= attachment_image_tag @product, :image, format: "jpeg", size: "100x100" %>
  
  <table>
    <tr>
      <td>商品名</td>
      <td><%= @product.name %></td>
    </tr>
    <tr>
      <td>商品説明</td>
      <td><%= @product.introduction %></td>
    </tr>
    <tr>
      <td>ジャンル</td>
      <td><%= @product.category.name %></td>
    </tr>
    <tr>
      <td>税込価格(税抜価格)</td>
      <td><%= @product.price %>(<%= @product.price + (@product.price * @tax).ceil %>)円</td>
    </tr>
    <tr>
      <td>販売ステータス</td>
      <td>
      <% if @product.is_active == true %>
       販売中
      <% else %>
       売り切れ
      <% end %>
      </td>
    </tr>
  </table>
  
  <div>
    <%= link_to "編集する",edit_admins_product_path(@product) %>
  </div>
</div>