<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render 'category_search', categories: @categories %>
    </div>
    <div class="col-9">
      <div class="row">
        <h2 class="col-3">商品一覧</h2><p class="col-2">(全<%= @products.count %>件)</p>
      </div>
      <% @products.each do |product| %>
      <div>
        <%= link_to product_path(product) do %>
          <%= attachment_image_tag product, :image,:fill, 100, 100 %>
          <p><%= product.name %>
          <%= product.price %></p>
        <% end %>
      </div>
      <% end %>
    </div>
</div>