<div class="container">
  <div class="row">
    <div class="col-2">
      <%= render 'category_search', categories: @categories %>
    </div>
    <div class="col-10">

      <h3>
      <% if @category.present? %>
        <%= @category.name %>一覧<span>(全<%= @products.count %>件)</span>
      <% else %>
        商品一覧<span>(全<%= @products.count %>件)</span>
      <% end %>
      </h3>
      <div class="d-flex flex-wrap">
        <% @products.each do |product| %>
          <% if product.category.is_active == true %>
            <div class="m-2 p-3 border">
              <%= link_to product_path(product),class: "text-dark" do %>
                <%= attachment_image_tag product, :image,:fill, 170, 130 %>
                <p class="mt-2 mb-0 text-dark"><%= product.name %></p>
                <p class="text-danger mb-0">￥<%= product.price + (product.price * @tax).ceil %></p
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
